body {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #1e1f1f;
  color: white;
  overflow: auto;
}

.main {
  min-height: 100vh;
  /* background-color: #202124; */
  /* background-color: #28292a; */
  background-color: #1e1f1f;
}

.navbar {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.375rem;
  height: 3.15rem;
}

.navbar-left-links a {
  padding: 0.3125rem;
  color: #e8e8e8;
  font-size: 0.875rem;
  text-decoration: none;
}

.navbar-left-links a:hover {
  text-decoration: underline;
}

.navbar-left-links #link1 {
  margin: 0rem 0.3125rem 0rem 0.9375rem;
}

.navbar-left-links #link2 {
  margin: 0rem 0.3125rem;
}

.navbar-right-options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-options1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.75rem 0.6875rem 0rem 0rem; */
  padding-bottom: 0.2rem;
  margin-right: 0.55rem;
}

.navbar-options1 .option-gmail a {
  color: #ffffff;
  font-size: 0.8125rem;
  text-decoration: none;
}

.navbar-options1 .option-gmail a:hover {
  text-decoration: underline;
}

.navbar-options1 .option-images a {
  color: #ffffff;
  font-size: 0.8125rem;
  padding-left: 0.9375rem;
  text-decoration: none;
}

.navbar-options1 .option-images a:hover {
  text-decoration: underline;
}

.navbar-options2 {
  height: 3.21875rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-options2:hover {
  background-color: #2a2a2d;
  border-radius: 50%;
}

.navbar-options2 a {
  text-decoration: none;
  color: #ffffff;
}

.navbar-options3 {
  padding: 0.25rem;
  border-radius: 100px;
  /* background-color: #cbe1ff; */
  background-color: #c5ebfd;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.2115rem;
  height: 2.1rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.navbar-options3 a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 300;
}

.google-name {
  height: 15.75rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* background-color: aqua; */
}

.google-name-main {
  /* background-color: #b834af; */
  width: 17rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.google-name-main img {
  width: 100%;
}

.google-search {
  max-height: 9.125rem;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-search-main {
  padding-top: 0.375rem;
  width: 100%;
  min-height: 9.125rem;
  margin: 0px auto;
}

.input-search-bar {
  height: 3.25rem;
  max-width: 41.45rem;
  background-color: #4d5156;
  border-radius: 100px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 0.5rem;
  margin: 0px auto;
}

.input-search-bar:hover {
  /* background-color: #53565a; */
  background-color: #64676c;
  cursor: text;
}

.search-bar-left span {
  padding: 0.2rem 0.2rem;
  font-size: 26px;
}

.search-bar-left span:hover {
  background-color: #323438;
  border-radius: 55%;
  cursor: default;
}

.search-bar-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-lance-speaker {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 0.6rem;
}

.search-lance-speaker .search-bar-speaker {
  margin-right: 1rem;
}

.search-lance-speaker .search-bar-speaker span {
  color: #e8e8e8;
  font-size: 24px;
}

.search-lance-speaker .search-bar-speaker span:hover {
  cursor: pointer;
}

.search-lance-speaker .search-bar-lance {
  margin-right: 1rem;
}

.search-lance-speaker .search-bar-lance span {
  color: #e8e8e8;
  font-size: 20px;
}

.search-lance-speaker .search-bar-lance span:hover {
  cursor: pointer;
}

.search-bar-right button {
  border-radius: 100px;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5156;
  border: 1px solid #a6a6a7;
  color: #e5e1e1;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.search-bar-right button:hover {
  cursor: pointer;
  border: 1px solid #a6a6a7;
  animation: borderGlow 1.5s linear infinite;
}

.search-bar-left {
  position: relative;
}

/* tooltip */
.tip {
  position: absolute;
  top: 45px;
  left: 0;
  background: #2a2a2a;
  color: #fff;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-6px);
  transition: 0.2s;
}

/* show tip on hover (fix) */
.search-bar-left:hover .tip,
.search-bar-speaker:hover .tip,
.search-bar-lance:hover .tip {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.search-bar-left,
.search-bar-speaker,
.search-bar-lance {
  position: relative; /* IMPORTANT */
}

@keyframes borderGlow {
  0% {
    border-color: #4285f4; /* blue */
  }
  25% {
    border-color: #ea4335; /* red */
  }
  50% {
    border-color: #fbbc05; /* yellow */
  }
  75% {
    border-color: #34a853; /* green */
  }
  100% {
    border-color: #4285f4; /* blue */
  }
}

.search-bar-right button span {
  margin-right: 0.2rem;
  color: #e5e1e1;
}

.input-search-buttons {
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #b834af; */
  /* padding-top: 1.2rem; */
  padding-top: 18px;
  max-width: 688px;
  height: 58px;
}

.input-search-buttons .input1 {
  padding: 0rem 1rem;
  background-color: #303134;
  margin: 0.6875rem 0.25rem;
  color: #ffffff;
  font-size: 15px;
  width: 129px.78;
  height: 36px;
  border-radius: 8px;
  border: none;
  margin-right: 0.55rem;
}

.input-search-buttons .input2 {
  padding: 0rem 1rem;
  margin: 0.6875rem 0.25rem;
  background-color: #303134;
  color: #ffffff;
  font-size: 15px;
  width: 129px.78;
  height: 36px;
  border-radius: 8px;
  border: none;
}

.input-search-buttons input:hover {
  border: 1px solid gray;
}

.languages {
  height: 220px;
}

.languages-links {
  max-width: 430.7px;
  min-height: 26px;
  margin: 0% auto;
  padding-top: 0.2rem;
  text-align: center;
}

.languages-links span {
  font-size: 13px;
  color: #bfbfbf;
}

.languages-links a {
  font-size: 13px;
  color: #99c3ff;
  text-decoration: none;
}

.languages-links a:hover {
  text-decoration: underline;
}

.footer {
  height: 94px;
  /* background-color: #1f1f1f; */
  background-color: #161616;
}

.footer-countary-name {
  height: 46px;
  color: #e8e8e8;
  display: flex;
  align-items: center;
  padding-left: 1.875rem;
  border-bottom: 1px solid #404040;
}

.footer-links {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
}

.footer-links-box1 a,
.footer-links-box2 a {
  padding: 15px;
  color: #e8e8e8;
  text-decoration: none;
  font-size: 14px;
  font-weight: 200;
}

.footer-links-box1 a:hover,
.footer-links-box2 a:hover {
  text-decoration: underline;
}

@media (max-width: 598px) {
  .languages {
    height: 174px;
  }

  .footer {
    height: 140px;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-links-box1 {
    height: 46px;
    margin-top: 2.5rem;
  }

  .footer-links-box2 {
    height: 46px;
    margin-top: 1.4rem;
  }
}

@media (max-width: 342px) {
  .footer-links {
    min-width: 342px;
  }
}

@media (max-width: 390px) {
  .navbar {
    min-width: 390px;
  }
}

@media (max-width: 398px) {
  /* .google-search,
  .input-search-main,
  .input-search-bar {
    min-width: 398px;
  } */

  /* .input-search-main {
    min-width: 398px;
  }
  .languages {
    min-width: 398px;
  }
  .google-name {
    min-width: 398px;
  } */

  .main {
    min-width: 398px;
  }
}
